name: Waka Readme

on:
    workflow_dispatch: # for manual workflow trigger
    schedule:
        - cron: "0 0 * * *" # runs at every 12AM UTC

jobs:
    update-readme:
        name: WakaReadme DevMetrics
        runs-on: ubuntu-latest
        steps:
            - uses: athul/waka-readme@master
              with:
                WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
                API_BASE_URL: ${{ secrets.API_BASE_URL }}
                TIME_RANGE: 'last_30_days'
                SHOW_MASKED_TIME: true